version: "3.9"
services:
  db:
    image: postgres:16
    container_name: fasket-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fasket
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: fasket-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
volumes:
  pgdata:
